<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Architech</title>
    <script type="text/javascript" src="./lib/jQuery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="./lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./js/controller.js"></script>
    <script type="text/javascript" src="./lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
</head>

<body ng-app="architechApp">
<div class="logo">
    <img ng-src="./img/logo.png">
</div>

<div class="formDiv" ng-controller="RegisterCtrl as register">
    <div class="col-lg-2 col-lg-offset-5" ng-hide="registered">
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form id="registerForm">
            <div class="form-group">
                <label for="name">User name</label>
                <input id="name" class="form-control" placeholder="username" ng-model="user.name"
                       required="" pattern="^[a-zA-Z0-9]{5,}" title="Username must have at least 5 alpha-numeric characters"/>
            </div>
            <div class="form-group">
                <label form="password">Password</label>
                <input id="password" class="form-control" placeholder="password" type="password"
                       ng-model="user.password" required="" pattern="((?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{8,})"
                       title="Password must have at least 1 number, 1 uppercase and 1 lowercase character"/>
            </div>
            <button id="submitBtn"
                    ng-click="register.register(user)" class="btn btn-default">Submit
            </button>
        </form>
    </div>

    <div class="col-lg-8 col-lg-offset-2 text-center" ng-show="registered">
        <h2>Welcome {{userName}}! You have been successfully registered</h2>
    </div>

</div>

</body>
</html>